* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #c7c7c7, #999999);

}

/* Nav Bar */
.--hamburger {

    border: 2px solid black;
    text-align: center;

    width: max-content;
    padding: 5px;

    align-items: center;
    align-self: center;

    display: grid;

    grid-column: 1;

    transition: 0.5s;

    width: 70px;

    margin: 0;

    cursor: pointer;

  

}


.--hamburger:hover {

    background-color: rgb(46, 46, 46);

    transition: 0.5s;

    color: white;


}

.li-listing li {

    border: 2px solid rgb(34, 34, 34);
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 15px;

    list-style: none;


    text-align: center;
    cursor: pointer;

    transition: 0.5s;
}

.li-listing li:hover {

    background-color: rgb(22, 22, 22);

    transition: 0.5s;

}

#list-nav ul {
    border-bottom: 2px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
    display: table;
    height: 150vh;

    float: left;
    clear: both;
}


/*------------*/


/* page Personnages */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    float: left;
    padding: 2%;
    background: url("/src/img/backgroundCard.webp");
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.img_perso {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

#cartesPersonnages {
    grid-gap: 20px;
}

/* page commentaire */

#pageCommentaire {
    text-align: center;
    display: table;
    margin: 0 auto;
    background: linear-gradient(45deg, #c7c7c7, #999999);
}

#entréeTexte {
    font-size: 18px;
}


.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
    font-size: 2em;
    cursor: pointer;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

#contourFormulaire {
    width: 0px;
}

#confirmEnvoieAvis {

    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    display: table;
    margin: auto;
}

#confirmEnvoieAvis:hover {
    background-color: rgb(27, 27, 27);
    border-color: rgb(27, 27, 27);
    color: white;
    transition: 0.5s;
}

#pseudo {
    display: table;
    margin: 0 auto;

    font-size: 18px;
    border: 2px solid black;

    border-radius: 5px;
}


/* page annexe */

#logoPageAnnexe {
    height: 400px;
    width: 400spx;
}


/* page Réservation */

#pageForm {
    background: linear-gradient(45deg, #F4C66C, #f2a45e, #ed8052, #e55945)
}


#forma {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-family: "Trebuchet MS";
}

.rs_main {
    display: flex;
}

label,
input {
    display: block;
}

#forma div {
    align-items: center;
    justify-content: center;
}
#forma div label {
    margin: 20px 0 10px;
}

.rs_main div {
    margin-left: 30px;
}

.div_syno {

    border: 2px solid black;
    padding: 25px; 
    border-radius: 5px;
}

#confirmReserv {
 
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;

    font-size: 20px;

    transition: 0.5s;

}

#confirmReserv:hover {

    background-color: rgb(32, 32, 32);
    border-color: rgb(32, 32, 32);
    color: white;
    transition: 0.5s;

}

#boutonsPaiement {
    display: flex;
    column-gap: 20px;

}

#boutonPayPal {
    background-image: url("/src/img/PayPal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 80px;
}

#boutonVisa {
    background-image: url("/src/img/Visa.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 80px;
}

#boutonMasterCard {
    background-image: url("/src/img/Mastercard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 80px;
}

/* Accueil - Index.html */


.acc_main {
    display: flex;
    
}

.image_filme {
   padding-left: 50px;
}

.filme_info iframe { 
    margin-left: 10px;

    margin-top: 10px;
}

.filme_info {
    margin-left: 15px;
}

.filme_info h1 {
 font-family: Arial;

}

.flex_logo_acc {
    padding-left: 150px;
}

.flex_logo_acc a {

    position: relative;top: 250px;

    text-decoration: none;
    color: black;

    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;

    transition: 0.5s;
}

.flex_logo_acc a:hover {
    color: white;
    background-color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    transition: 0.5s;
}

/* page ciné club */


.cc_slogan {

    display: table;
    margin: auto;

}

blockquote {
    margin: 0px;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
    width: 500px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.cc_legend {
    font-weight: bold;
}

#titreCouleurs {
    display: table;
    margin: auto;
    font-size: xx-large;
}